<div class="single-item">
  <div class="card-wrapper">
    <div class="img">
      <a href="">
        <img src="images/item-img-3.png" alt="">
      </a>
    </div>
    <div class="card-body">
      <div class="card-top">
        <p class="title">
          <a href="">050-03 10兆×10億通りから世界に1台のオリジナル自転車をCocci Pedaleで</a>
        </p>
        <div class="tags">
          <span class="tag">自転車・乗り物</span>
          <span class="tag">肉</span>
          <span class="tag">牛肉</span>
        </div>
      </div>
      <div class="card-footer">
        <p class="muncipalacity">秦野市</p>
        <p class="price">50,000円</p>
        <p class="text">国内製造にこだわる自転車メーカーCocci Inc.のオリジナルブランド「Cocci Pedale（コッチペダー</p>
      </div>
    </div>
  </div>
</div>