<footer class="footer-wrapper">
  <div class="container">
    <div class="footer-service">
      <!-- footer 1st row menu -->
      <div class="footer-service-logo">
        <a href="">
          <img src="images/logo.png" alt="logo">
        </a>
        <p class="copyright pc-only">© 貴社名 All Rights Reserved.</p>
      </div>
      <div class="footer-service-content">
        <div class="footer-nav">
          <ul class="list">
            <li>
              <a href="">（サービス名）について</a>
            </li>
            <li>
              <a href="">動画を探す</a>
            </li>
            <li>
              <a href="">出品オファー</a>
            </li>
            <li>
              <a href="">動画投稿</a>
            </li>
          </ul>
        </div>
        <div class="footer-nav">
          <ul class="list">
            <li>
              <a href="">お知らせ</a>
            </li>
            <li>
              <a href="">利用規約</a>
            </li>
            <li>
              <a href="">プライバシーポリシー</a>
            </li>
            <li>
              <a href="">会社概要</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <p class="copyright sp-only">© 貴社名 All Rights Reserved.</p>
  </div>
  <!-- footer top section start -->
  <%- include('./_sp_menu.ejs', { title: '' }) %>
</footer>