<div class="manu-slide-area manu-slide-open">
  <div class="menu-head">
    <div class="sp-m-logo"><img src="images/logo.png" alt=""></div>
    <div class="sp-m-close"><img class="menu-close" src="images/menu-close.svg" alt=""></div>
  </div>
  <div class="menu-slide">
    <ul class="menu-slide__mnu-ul">
      <li><a href="">（サービス名）について</a></li>
      <li><a href="">動画を探す</a></li>
      <li><a href="">出品オファー</a></li>
      <li><a href="">動画投稿</a></li>
      <li><a href="">お知らせ</a></li>
    </ul>
    <ul class="menu-slide__othermnu-ul">
      <li class="dropdown-menu-li">
        <a href="javascript:void(0)" class="sub-menu mclose">マイページ</a>
        <div class="sub-menu-dropdown">
          <ul class="sub-ul">
            <li><a href="">投稿動画一覧</a></li>
            <li><a href="">会員情報</a></li>
            <li><a href="">購入動画一覧</a></li>
            <li><a href="">口座情報</a></li>
            <li><a href="">オファー一覧</a></li>
            <li><a href="">ログアウト</a></li>
            <li><a href="">下書き一覧</a></li>
          </ul>
        </div>
      </li>
      <li class="dropdown-menu-li">
        <a href="javascript:void(0)" class="sub-menu mclose">利用規約</a>
        <div class="sub-menu-dropdown">
          <ul class="sub-ul">
            <li><a href="">投稿動画一覧</a></li>
            <li><a href="">会員情報</a></li>
            <li><a href="">購入動画一覧</a></li>
            <li><a href="">口座情報</a></li>
            <li><a href="">オファー一覧</a></li>
            <li><a href="">ログアウト</a></li>
            <li><a href="">下書き一覧</a></li>
          </ul>
        </div>
      </li>
      <li class="dropdown-menu-li">
        <a href="javascript:void(0)" class="sub-menu mclose">プライバシーポリシー</a>
        <div class="sub-menu-dropdown">
          <ul class="sub-ul">
            <li><a href="">投稿動画一覧</a></li>
            <li><a href="">会員情報</a></li>
            <li><a href="">購入動画一覧</a></li>
            <li><a href="">口座情報</a></li>
            <li><a href="">オファー一覧</a></li>
            <li><a href="">ログアウト</a></li>
            <li><a href="">下書き一覧</a></li>
          </ul>
        </div>
      </li>
      <li class="dropdown-menu-li">
        <a href="javascript:void(0)" class="sub-menu mclose">会社概要</a>
        <div class="sub-menu-dropdown">
          <ul class="sub-ul">
            <li><a href="">投稿動画一覧</a></li>
            <li><a href="">会員情報</a></li>
            <li><a href="">購入動画一覧</a></li>
            <li><a href="">口座情報</a></li>
            <li><a href="">オファー一覧</a></li>
            <li><a href="">ログアウト</a></li>
            <li><a href="">下書き一覧</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="sp-menu-button-area">
    <div class="sign-in">
      <a href="" class="btn btn-green active">ログイン</a>
    </div>
    <div class="sign-up">
      <a href="" class="btn btn-green">会員登録</a>
    </div>
  </div>
</div>