.btn-green{
  position: relative;
  border: 0.1464vw solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2b6737;
  color: #fff;
  font-size: 1.1713vw;
  font-weight: bold;
  letter-spacing: 0.0293vw;
  border-radius: 0.2165vw;
  &.active{
    background: transparent;
    color: #fff;
    border: 0.1464vw solid #2b6737;
    box-shadow: none;
  }
  &:focus{
    background: transparent;
    color: #fff;
    border: 0.1464vw solid #2b6737;
  }
  &:hover{
    background: transparent;
    color: #fff;
    border: 0.1464vw solid #2b6737;
  }
  &.icon{
    &::after{
      content: "";
      position: absolute;
      background-image: url(/images/arrow-right.svg);
      right: 1.4641vw;
      width: 0.9517vw;
      height: 1.1713vw;
      background-size: 0.9517vw 1.1713vw;
    }
  }
  &.icon-down{
    &::after{
      content: "";
      position: absolute;
      background-image: url(/images/arrow-down-white.svg);
      right: 1.7641vw;
      width: 1.1545vw;
      height: 0.9379vw;
      background-size: 1.1545vw 0.9379vw;
    }
  }
  &.search-icon{
    &::before{
      content: " ";
      position: absolute;
      background-image: url(/images/search-icon.svg);
      left: 1.4641vw;
      width: 1.7316vw;
      height: 1.7316vw;
      background-size: 1.7316vw 1.7316vw;
    }
  }
}

.btn-white{
  position: relative;
  border: 0.1464vw solid #2b6737;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #2b6737;
  font-size: 1.1713vw;
  font-weight: bold;
  letter-spacing: 0.0293vw;
  border-radius: 0.2165vw;
  &.active{
    background: transparent;
    color: #fff;
    background: #2b6737;
    border: 0.1464vw solid #2b6737;
    box-shadow: none;
  }
  &:focus{
    background: transparent;
    color: #fff;
    border: 0.1464vw solid #2b6737;
  }
  &:hover{
    background: #2b6737;
    color: #fff;
    border: 0.1464vw solid #2b6737;
    &.icon{
      &::after{
        content: "";
        position: absolute;
        background-image: url(/images/arrow-right.svg);
        right: 1.4641vw;
        width: 0.9517vw;
        height: 1.1713vw;
        background-size: 0.9517vw 1.1713vw;
      }
    }
  }
  
  &.icon{
    &::after{
      content: "";
      position: absolute;
      background-image: url(/images/arrow-green.svg);
      right: 1.4641vw;
      width: 0.9517vw;
      height: 1.1713vw;
      background-size: 0.9517vw 1.1713vw;
    }
  }
}

.btn-black{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7937vw;
  font-weight: 500;
  letter-spacing: 0.0202vw;
  text-align: center;
  background-color: rgba(29, 33, 34, 0.87);
  color: #fff;
  border-radius: 0.2165vw;
  &.width_89{
    width: 6.4213vw;
    height: 1.8038vw;
  }
}


@media screen and (max-width: 767px){
  .btn-green{
    border: 0.2667vw solid transparent;
    font-size: 4.2667vw;
    letter-spacing: 0.1067vw;
    border-radius: 0.8vw;
    &.active{
      background: transparent;
      color: #fff;
      border: 0.2667vw solid #2b6737;
      box-shadow: none;
    }
    &:focus{
      background: transparent;
      color: #fff;
      border: 0.2667vw solid #2b6737;
    }
    &.icon{
      &::after{
        content: "";
        position: absolute;
        background-image: url(/images/arrow-right.svg);
        right: 2.6667vw;
        width: 3.4667vw;
        height: 4.2667vw;
        background-size: 3.4667vw 4.2667vw;
      }
    }
    &.icon-down{
      &::after{
        right: 5.3335vw;
        width: 4.2667vw;
        height: 3.4667vw;
        background-size: 4.2667vw 3.4667vw;
      }
    }
    &.search-icon{
      &::before{
        left: 5.3335vw;
        width: 6.4vw;
        height: 6.4vw;
        background-size: 6.4vw 6.4vw;
      }
    }
  }

  .btn-white{
    border: 0.2666vw solid #2b6737;
    font-size: 4.2667vw;
    letter-spacing: 0.1067vw;
    border-radius: 0.8vw;
    &.active{
      border: 0.2666vw solid #2b6737;
    }
    &:focus{
      border: 0.2666vw solid #2b6737;
    }
    &:active{
      background: #2b6737;
      color: #fff;
      border: 0.2666vw solid #2b6737;
      &.icon{
        &::after{
          content: "";
          position: absolute;
          background-image: url(/images/arrow-right.svg);
          right: 2.9667vw;
          width: 3.4667vw;
          height: 4.2667vw;
          background-size: 3.4667vw 4.2667vw;
        }
      }
    }
    &.icon{
      &::after{
        content: "";
        position: absolute;
        background-image: url(/images/arrow-green.svg);
        right: 2.9667vw;
        width: 3.4667vw;
        height: 4.2667vw;
        background-size: 3.4667vw 4.2667vw;
      }
    }
  }

  .btn-black{
    font-size: 2.9333vw;
    border-radius: 0.8vw;
    &.width_89{
      width: 23.7333vw;
      height: 6.6667vw;
    }
  }

}