//colors
$color-primary: #323232;
$white-text: #FFFFFF;
$black-text: #323232;
$black-text-light: #000000DE;
$color-light-gray :#B8B8B8;


//bg color
$color-bg-white: #FFFFFF;
$bg-primary: #e6c8c1;
$color-bg-gray: #fafafa;
$color-bg-white-light: #F0F0EC;
$footer-bg: #e6c8c1;
$tags-bg-color : #323232;
$menus-bg-color : #FFFFFF;

// Primary Colors
$color-red: #c7000d;
$color-blue: #41C8E8;
$color-white: #FFFFFF;

// Secondary Colors
$color-light-blue: #B3D5E6;
$color-blue-inactive: #0000002E;
$color-light-red: #E58FA0;
$color-dark-red: #c7000d;
$color-lighter-red: #FCEDEF;

//new color variable set
$color-black: #000000DE;
$color-black-grade-1: #000000DE;
$color-black-grade-2: #00000099;
$color-black-grade-3: #00000080;
$color-black-grade-4: #00000061;
$color-black-grade-5: #0000002E;
$color-black-grade-6: #0000000A;

// hover color
$hover-color-white: #c7000d;
$color-white-grade-1: #FFFFFFB3;
$color-white-grade-2: #FFFFFF80;
$color-white-grade-2: #FFFFFF66;


$color-bg-input: #FFFFFF;
$color-placeholder: #323232;
$color-disabled: #B2B2B2;
$border-black: #000000;

$border-red: #c7000d;
$footer-border-color: rgba(50, 50, 50, 0.3); //rgba(255, 255, 255, 0.3);
$sidebar-border-color: rgba(154, 126, 82, 0.5);
$border-input: rgba(154, 126, 82, 0.5);
$border-input-error: #D3325E;
$border-light: #E58FA0;



//width
$basewidth: 1286px;
$pc-inner-padding: 20px;
$sp-inner-padding: 3.9%;
