<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('./shared/_head.ejs', { title: 'A-1_プライバシーポリシー' }) %>
</head>
<body class="bg-color">
  <div class="canvas">

    <%- include('./shared/_header.ejs', { title: '' }) %>
    <!-- breadcrumb start  -->
    <div class="breadcrumb-wrapper">
      <div class="container">
        <ul class="breadcrumb-ul">
          <li>
            <a href="/">Top</a>
          </li>
          <li>
            <a href="">プライバシーポリシー</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- breadcrumb start  -->
    <div class="content-body-bg">
      <div class="container container-wrapper">
        <div class="privacy-policy-wrapper">
          <div class="title-head">
            <h2 class="h2">プライバシーポリシー</h2>
          </div>
          <div class="content">
            <div class="inner-content">
              <div class="privacy-policy">
                <div class="privacy-policy-cont">
                  <div class="text">
                    <p>
                      プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。
                    </p>
                  </div>
                  <div class="inner-cont">
                    <div class="num">1.</div>
                    <div class="text">
                      <p>利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。</p>
                    </div>
                  </div>
                  <div class="inner-cont">
                    <div class="num">2.</div>
                    <div class="text">
                      <p>プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。</p>
                    </div>
                  </div>
                  <div class="inner-cont">
                    <div class="num">3.</div>
                    <div class="text">
                      <p>プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。</p>
                    </div>
                  </div>
                  <div class="inner-cont">
                    <div class="num">4.</div>
                    <div class="text">
                      <p>プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。</p>
                    </div>
                  </div>
                  <div class="inner-cont">
                    <div class="num">5.</div>
                    <div class="text">
                      <p>プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。</p>
                    </div>
                  </div>
                  <div class="inner-cont">
                    <div class="num">6.</div>
                    <div class="text">
                      <p>プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。プライバシーポリシーが入ります。</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="provision-info">
                <p>付則：本規約は2011年9月6日から全ての利用者に適用されるものとします。</p><br>
                <p>
                  <span class="line-break">2022年6月17日 改定</span>
                  <span class="line-break">2022年6月30日 改定</span>
                </p>
              </div>
              <div class="inquries-info">
                <h5>■個人情報に関するお問い合わせ</h5>
                <p class="text">
                  〒<em class="style-text">758-0046</em> 山口県萩市西田町<em class="style-text">67-2</em><br>
                  <em class="style-text">00-0000-0000</em>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./shared/_footer.ejs', { title: '' }) %>
    <%- include('./shared/_foot_js.ejs', { title: '' }) %>
  </div>
  </body>
</html>