<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('./shared/_head.ejs', { title: 'A-1_プライバシーポリシー' }) %>
</head>

<body class="bg-color">
  <div class="canvas">

    <%- include('./shared/_header.ejs', { title: '' }) %>
    <!-- breadcrumb start  -->
    <div class="breadcrumb-wrapper">
      <div class="container">
        <ul class="breadcrumb-ul">
          <li>
            <a href="/">Top</a>
          </li>
          <li>
            <a href="">（サービス名）について</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- breadcrumb start  -->
    <div class="content-body-bg">

      <div class="container container-wrapper sp_remove_padding">
        <div class="service-introduction-tenetive">
          <div class="service_left">
            <div class="text">
              <p>
                <span class="line-break">サービス紹介のコピーが入ります。</span>
                <span class="line-break">サービス紹介のコピーが入ります。</span>
              </p>
            </div>
          </div>
          <div class="service_right">
            <div class="image-area">
              <p>イメージ画像等</p>
            </div>
          </div>
        </div>
      </div>

      <div class="about-member">
        <div class="container container-wrapper title-head">
          <h2 class="h2">利用規約</h2>
        </div>
        <div class="cont-lv">
          <p class="text">
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
          </p>
        </div>
      </div>

      <div class="flow-login-member-reg">
        <div class="container container-wrapper">
          <div class="title-head">
            <h2 class="h2">ログイン／新規会員登録の流れ<span class="text-sm">（仮）</span></h2>
          </div>
        </div>
        <div class="content-wrapper">
          <div class="service-cont">
            <div class="cont-body">
              <p>イメージ画像等</p>
            </div>
          </div>
          <div class="service-cont-right">
            <div class="text">
              <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
            </div>
          </div>
        </div>
      </div>

      <div class="about-posting-video">
        <div class="container container-wrapper">
          <div class="title-head">
            <h2 class="h2">動画の投稿について（仮）</h2>
          </div>
          <div class="posting-video-lv">

            <div class="content-lv-one">
              <div class="text">
                <p>イメージ画像等</p>
              </div>
            </div>
            <div class="content-lv-two">
              <div class="text">
                <p>
                  テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <%- include('./shared/_footer.ejs', { title: '' }) %>
  <%- include('./shared/_foot_js.ejs', { title: '' }) %>
  </div>
</body>

</html>