<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('./shared/_head.ejs', { title: 'A-1_利用規約' }) %>
</head>
<body class="bg-color">
  <div class="canvas">

    <%- include('./shared/_header.ejs', { title: '' }) %>
    <!-- breadcrumb start  -->
    <div class="breadcrumb-wrapper">
      <div class="container">
        <ul class="breadcrumb-ul">
          <li>
            <a href="/">Top</a>
          </li>
          <li>
            <a href="">利用規約</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- breadcrumb start  -->
    <div class="content-body-bg">
      <div class="container container-wrapper">
        <div class="terms-of-use-wrapper">
          <div class="title-head">
            <h2 class="h2">利用規約</h2>
          </div>
          <div class="content">
            <div class="inner-content">
              <div class="terms-of-use">
                <div class="terms-of-use-cont">
                  <div class="title">
                    <h4>第<em class="font_roboto">1</em>章 総則</h4>
                  </div>
                  <div class="cont">
                    <div class="inner-tile">
                      <h5>第<em class="text-style">1</em>条 本規約の適用範囲及び変更</h5>
                    </div>
                    <div class="inner-cont">
                      <div class="num">1.</div>
                      <div class="text">
                        <p>利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。</p>
                      </div>
                    </div>
                    <div class="inner-cont">
                      <div class="num">2.</div>
                      <div class="text">
                        <p>利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。</p>
                      </div>
                    </div>
                    <div class="inner-cont">
                      <div class="num">3.</div>
                      <div class="text">
                        <p>利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。</p>
                        <ul class="lists">
                          <li>
                            <span>（1）</span>
                            利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。
                          </li>
                          <li>
                            <span>（2）</span>
                            利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="inner-cont">
                      <div class="num">4.</div>
                      <div class="text">
                        <p>利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。</p>
                      </div>
                    </div>
                  </div>
                  <div class="cont">
                    <div class="inner-tile">
                      <h5>第<em class="text-style">2</em>条 本サービスの利用第</h5>
                    </div>
                    <div class="inner-cont">
                      <div class="text">
                        <p>利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="terms-of-use-cont">
                  <div class="title">
                    <h4>第<em class="font_roboto">2</em>章 会員登録及びサービスの利用</h4>
                  </div>
                  <div class="cont">
                    <div class="inner-tile">
                      <h5>第<em class="text-style">4</em>条 会員第</h5>
                    </div>
                    <div class="inner-cont">
                      <div class="num">1.</div>
                      <div class="text">
                        <p>利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。</p>
                      </div>
                    </div>
                    <div class="inner-cont">
                      <div class="num">2.</div>
                      <div class="text">
                        <p>利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。</p>
                      </div>
                    </div>
                    <div class="inner-cont">
                      <div class="num">3.</div>
                      <div class="text">
                        <p>利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。</p>
                        <ul class="lists">
                          <li>
                            <span>（1）</span>
                            利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。
                          </li>
                          <li>
                            <span>（2）</span>
                            利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="inner-cont">
                      <div class="num">4.</div>
                      <div class="text">
                        <p>利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。</p>
                      </div>
                    </div>
                    <div class="cont">
                      <div class="inner-tile">
                        <h5>第<em class="text-style">5</em>条 本サービスの利用第</h5>
                      </div>
                      <div class="inner-cont">
                        <div class="text">
                          <p>利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。利用規約が入ります。</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="provision-info">
                <p>付則：本規約は2011年9月6日から全ての利用者に適用されるものとします。</p><br>
                <p>
                  <span class="line-break">2022年6月17日 改定</span>
                  <span class="line-break">2022年6月30日 改定</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./shared/_footer.ejs', { title: '' }) %>
    <%- include('./shared/_foot_js.ejs', { title: '' }) %>
  </div>
  </body>
</html>