<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('./shared/_head.ejs', { title: 'A-3_パスワードリセットリクエスト' }) %>
</head>
<body class="bg-color">
  <div class="canvas">

    <%- include('./shared/_header.ejs', { title: '' }) %>
    <!-- breadcrumb start  -->
    <div class="breadcrumb-wrapper">
      <div class="container">
        <ul class="breadcrumb-ul">
          <li>
            <a href="/">Top</a>
          </li>
          <li>
            <a href="/">ログイン</a>
          </li>
          <li>
            <a href="">パスワード再設定</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- breadcrumb start  -->
    <div class="password-reset-wrapper content-body-bg">
      <div class="container container-wrapper">
        <div class="title-head">
          <h2 class="h2">パスワード再設定</h2>
        </div>
        <div class="content">
          <div class="inner-content">
            <form action="" class="form c-form-block">
              <!-- 氏名 start-->
              <div class="form_area">
                <div class="label_area">
                  <label class="label_txt mb_8">パスワード</label>
                </div>
                <div class="form_group">
                  <div class="input_group password_box">
                    <input name="password" type="text" class="form-control password" placeholder="パスワード">
                    <div class="icon">
                      <i class="far fa-eye password_event"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 氏名 start-->
              <div class="form_area">
                <div class="label_area">
                  <label class="label_txt mb_8">パスワード（確認）</label>
                </div>
                <div class="form_group">
                  <div class="input_group password_box">
                    <input name="new_password" type="text" class="form-control new_password" placeholder="パスワード再入力">
                    <div class="icon">
                      <i class="far fa-eye new_password_event"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="pass-reset-button">
                <button type="submit" class="btn btn-green">パスワードを再設定する</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <%- include('./shared/_footer.ejs', { title: '' }) %>
    <%- include('./shared/_foot_js.ejs', { title: '' }) %>
  </div>
  </body>
  
</html>