<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('./shared/_head.ejs', { title: 'C-4-2_お知らせ詳細' }) %>
</head>
<body class="bg-color">
  <div class="canvas">

    <%- include('./shared/_header.ejs', { title: '' }) %>
    <!-- breadcrumb start  -->
    <div class="breadcrumb-wrapper">
      <div class="container">
        <ul class="breadcrumb-ul">
          <li>
            <a href="/">Top</a>
          </li>
          <li>
            <a href="">お知らせ</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- breadcrumb start  -->
    <div class="content-body-bg">
      <div class="container container-wrapper">
        <div class="news-details-wrapper">
          <div class="title-head">
            <h2 class="h2">お知らせ</h2>
          </div>
          <div class="content">
            <div class="inner-content">
              <div class="news-details">
                <div class="details-top">
                  <div class="title">
                    <h4>お知らせのタイトルが入ります。お知らせのタイトルが入ります。お知らせのタイトルが入ります。お知らせのタイトルが入ります。</h4>
                  </div>
                  <div class="release-date">
                    <p>2021<span class="txt">年</span>12<span class="txt">月</span>28<span class="txt">日</span></p>
                  </div>
                </div>
                <div class="description">
                  <p>
                    お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。お知らせの内容が入ります。
                  </p>
                </div>
                <div class="news-navi">
                  <ul class="ul">
                    <li>
                      <a href="">前へ</a>
                    </li>
                    <li>
                      <a href="">次へ</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./shared/_footer.ejs', { title: '' }) %>
    <%- include('./shared/_foot_js.ejs', { title: '' }) %>
  </div>
  </body>
</html>