<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('./shared/_head.ejs', { title: 'Top page' }) %>
</head>

<body class="bg-color">
  <div class="canvas">
    <%- include('./shared/_header.ejs', { title: '' }) %>
    <section class="service-banner">
      <div class="top_banner_img">
        <img class="pc-only" src="images/banner-img.png" alt="banner">
        <img class="sp-only" src="images/banner-img-sp.png" alt="banner">
      </div>
      <div class="container container-wrapper">
        <div class="text">
          <p>
            <span>メインコピーが入ります</span>
            <span>メインコピーが入ります</span>
          </p>
        </div>
      </div>
    </section>

    <!-- サービス紹介/service introduction start -->
    <section class="service-introduction">
      <div class="container container-wrapper">
        <div class="title-head">
          <h2 class="h2">サービス紹介</h2>
        </div>
        <div class="content-wrapper">
          <div class="service-cont">
            <div class="title-inner">
              <h3>サービスタイトルが入ります。サービスタイトルが入ります。</h3>
            </div>
            <div class="cont-body">
              <p>説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。</p>
            </div>
            <div class="service-button">
              <a class="btn btn-green icon" href="">詳しく見る</a>
            </div>
          </div>
          <div class="service-cont-right">
            <div class="text">
              <p>イメージ画像等</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- サービス紹介/service introduction start -->

    <!-- 動画リスト/video list start -->
    <section class="video-lists-section">
      <div class="container container-wrapper">
        <div class="lists-wrapper">
          <div class="title-head">
            <h2 class="h2">動画リスト</h2>
            <h4 class="h4">
              投稿動画一覧を見る
              <img class="icon" src="images/arrow-green.svg" alt="">
            </h4>
          </div>
          <div class="video-lists">
            <div class="signle-item">
              <div class="card-wrapper">
                <div class="img">
                  <a href="">
                    <img src="images/video-thum-1.png" alt="">
                  </a>
                </div>
                <div class="card-body">
                  <div class="card-top">
                    <p class="title">
                      <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                    </p>
                  </div>
                  <div class="card-footer">
                    <div class="photograph-date">
                      <button class="btn btn-sm" type="">撮影</button>
                      <p class="text">
                        <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                      </p>
                    </div>
                    <div class="release-date">
                      <button class="btn btn-sm">公開</button>
                      <p class="text">
                        <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="signle-item">
              <div class="card-wrapper">
                <div class="img">
                  <a href="">
                    <img src="images/video-thum-1.png" alt="">
                  </a>
                </div>
                <div class="card-body">
                  <div class="card-top">
                    <p class="title">
                      <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                    </p>
                  </div>
                  <div class="card-footer">
                    <div class="photograph-date">
                      <button class="btn btn-sm" type="">撮影</button>
                      <p class="text">
                        <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                      </p>
                    </div>
                    <div class="release-date">
                      <button class="btn btn-sm">公開</button>
                      <p class="text">
                        <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="signle-item">
              <div class="card-wrapper">
                <div class="img">
                  <a href="">
                    <img src="images/video-thum-1.png" alt="">
                  </a>
                </div>
                <div class="card-body">
                  <div class="card-top">
                    <p class="title">
                      <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                    </p>
                  </div>
                  <div class="card-footer">
                    <div class="photograph-date">
                      <button class="btn btn-sm" type="">撮影</button>
                      <p class="text">
                        <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                      </p>
                    </div>
                    <div class="release-date">
                      <button class="btn btn-sm">公開</button>
                      <p class="text">
                        <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="signle-item">
              <div class="card-wrapper">
                <div class="img">
                  <a href="">
                    <img src="images/video-thum-1.png" alt="">
                  </a>
                </div>
                <div class="card-body">
                  <div class="card-top">
                    <p class="title">
                      <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                    </p>
                  </div>
                  <div class="card-footer">
                    <div class="photograph-date">
                      <button class="btn btn-sm" type="">撮影</button>
                      <p class="text">
                        <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                      </p>
                    </div>
                    <div class="release-date">
                      <button class="btn btn-sm">公開</button>
                      <p class="text">
                        <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="signle-item">
              <div class="card-wrapper">
                <div class="img">
                  <a href="">
                    <img src="images/video-thum-1.png" alt="">
                  </a>
                </div>
                <div class="card-body">
                  <div class="card-top">
                    <p class="title">
                      <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                    </p>
                  </div>
                  <div class="card-footer">
                    <div class="photograph-date">
                      <button class="btn btn-sm" type="">撮影</button>
                      <p class="text">
                        <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                      </p>
                    </div>
                    <div class="release-date">
                      <button class="btn btn-sm">公開</button>
                      <p class="text">
                        <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="signle-item">
              <div class="card-wrapper">
                <div class="img">
                  <a href="">
                    <img src="images/video-thum-1.png" alt="">
                  </a>
                </div>
                <div class="card-body">
                  <div class="card-top">
                    <p class="title">
                      <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                    </p>
                  </div>
                  <div class="card-footer">
                    <div class="photograph-date">
                      <button class="btn btn-sm" type="">撮影</button>
                      <p class="text">
                        <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                      </p>
                    </div>
                    <div class="release-date">
                      <button class="btn btn-sm">公開</button>
                      <p class="text">
                        <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="signle-item">
              <div class="card-wrapper">
                <div class="img">
                  <a href="">
                    <img src="images/video-thum-1.png" alt="">
                  </a>
                </div>
                <div class="card-body">
                  <div class="card-top">
                    <p class="title">
                      <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                    </p>
                  </div>
                  <div class="card-footer">
                    <div class="photograph-date">
                      <button class="btn btn-sm" type="">撮影</button>
                      <p class="text">
                        <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                      </p>
                    </div>
                    <div class="release-date">
                      <button class="btn btn-sm">公開</button>
                      <p class="text">
                        <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="signle-item">
              <div class="card-wrapper">
                <div class="img">
                  <a href="">
                    <img src="images/video-thum-1.png" alt="">
                  </a>
                </div>
                <div class="card-body">
                  <div class="card-top">
                    <p class="title">
                      <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                    </p>
                  </div>
                  <div class="card-footer">
                    <div class="photograph-date">
                      <button class="btn btn-sm" type="">撮影</button>
                      <p class="text">
                        <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                      </p>
                    </div>
                    <div class="release-date">
                      <button class="btn btn-sm">公開</button>
                      <p class="text">
                        <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="signle-item">
              <div class="card-wrapper">
                <div class="img">
                  <a href="">
                    <img src="images/video-thum-1.png" alt="">
                  </a>
                </div>
                <div class="card-body">
                  <div class="card-top">
                    <p class="title">
                      <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                    </p>
                  </div>
                  <div class="card-footer">
                    <div class="photograph-date">
                      <button class="btn btn-sm" type="">撮影</button>
                      <p class="text">
                        <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                      </p>
                    </div>
                    <div class="release-date">
                      <button class="btn btn-sm">公開</button>
                      <p class="text">
                        <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="signle-item">
              <div class="card-wrapper">
                <div class="img">
                  <a href="">
                    <img src="images/video-thum-1.png" alt="">
                  </a>
                </div>
                <div class="card-body">
                  <div class="card-top">
                    <p class="title">
                      <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                    </p>
                  </div>
                  <div class="card-footer">
                    <div class="photograph-date">
                      <button class="btn btn-sm" type="">撮影</button>
                      <p class="text">
                        <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                      </p>
                    </div>
                    <div class="release-date">
                      <button class="btn btn-sm">公開</button>
                      <p class="text">
                        <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="signle-item">
              <div class="card-wrapper">
                <div class="img">
                  <a href="">
                    <img src="images/video-thum-1.png" alt="">
                  </a>
                </div>
                <div class="card-body">
                  <div class="card-top">
                    <p class="title">
                      <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                    </p>
                  </div>
                  <div class="card-footer">
                    <div class="photograph-date">
                      <button class="btn btn-sm" type="">撮影</button>
                      <p class="text">
                        <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                      </p>
                    </div>
                    <div class="release-date">
                      <button class="btn btn-sm">公開</button>
                      <p class="text">
                        <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="signle-item">
              <div class="card-wrapper">
                <div class="img">
                  <a href="">
                    <img src="images/video-thum-1.png" alt="">
                  </a>
                </div>
                <div class="card-body">
                  <div class="card-top">
                    <p class="title">
                      <a href="">銀座4丁目あおり運転による交差点による交差点による交差点</a>
                    </p>
                  </div>
                  <div class="card-footer">
                    <div class="photograph-date">
                      <button class="btn btn-sm" type="">撮影</button>
                      <p class="text">
                        <span class="date-style">2021</span>年<span class="date-style">12</span>月<span class="date-style">28</span>日
                      </p>
                    </div>
                    <div class="release-date">
                      <button class="btn btn-sm">公開</button>
                      <p class="text">
                        <span class="date-style">2022</span>年<span class="date-style">06</span>月<span class="date-style">12</span>日
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- 動画リスト/video list start -->
    <section class="top-news">
      <div class="left_part"></div>
      <div class="right_part">
        <div class="news-content">
          <!-- first news start -->
          <div class="text-area">
            <div class="release-date">
              <p>
                <span class="date">2021</span class="date">年<span>12</span>月<span class="date">28</span>日
              </p>
            </div>
            <div class="text">
              <p>
                お知らせのタイトルが入ります。お知らせのタイトルが入ります。お知らせのタイトルが入ります。お知らせのタイトルが入ります。お知…
              </p>
            </div>
          </div>
          <!-- first news start -->
          <!-- 2nd news start -->
          <div class="text-area">
            <div class="release-date">
              <p>
                <span class="date">2021</span class="date">年<span>12</span>月<span class="date">28</span>日
              </p>
            </div>
            <div class="text">
              <p>
                お知らせのタイトルが入ります。お知らせのタイトルが入ります。
              </p>
            </div>
          </div>
          <!-- 2nd news start -->
          <!-- 3rd news start -->
          <div class="text-area">
            <div class="release-date">
              <p>
                <span class="date">2021</span class="date">年<span>12</span>月<span class="date">28</span>日
              </p>
            </div>
            <div class="text">
              <p>
                お知らせのタイトルが入ります。お知らせのタイトルが入ります。お知らせのタイトルが入ります。お知…
              </p>
            </div>
          </div>
          <!-- 3rd news start -->
           <!-- 4th news start -->
           <div class="text-area">
            <div class="release-date">
              <p>
                <span class="date">2021</span class="date">年<span>12</span>月<span class="date">28</span>日
              </p>
            </div>
            <div class="text">
              <p>
                お知らせのタイトルが入ります。お知らせのタイトルが入ります。
              </p>
            </div>
          </div>
          <!-- 4th news start -->
           <!-- 5th news start -->
           <div class="text-area">
            <div class="release-date">
              <p>
                <span class="date">2021</span class="date">年<span>12</span>月<span class="date">28</span>日
              </p>
            </div>
            <div class="text">
              <p>
                お知らせのタイトルが入ります。お知らせのタイトルが入ります。お知らせのタイトルが入ります。お知…
              </p>
            </div>
          </div>
          <!-- 5th news start -->

        </div>
      </div>
      <div class="container container-wrapper">
        <div class="news-wrapper">
          <div class="title-head">
            <h2 class="h2">お知らせ</h2>
            <h4 class="h4">
              投稿動画一覧を見る
              <img class="icon" src="images/arrow-green.svg" alt="">
            </h4>
          </div>
        </div>
      </div>
    </section>

    <%- include('./shared/_footer.ejs', { title: '' }) %>
    <%- include('./shared/_foot_js.ejs', { title: '' }) %>
  </div>
</body>

</html>