<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('./shared/_head.ejs', { title: 'A-3_パスワードリセットリクエスト' }) %>
</head>
<body class="bg-color">
  <div class="canvas">

    <%- include('./shared/_header.ejs', { title: '' }) %>
    <!-- breadcrumb start  -->
    <div class="breadcrumb-wrapper">
      <div class="container">
        <ul class="breadcrumb-ul">
          <li>
            <a href="/">Top</a>
          </li>
          <li>
            <a href="">パスワード再設定</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- breadcrumb start  -->
    <div class="password-reset-wrapper content-body-bg">
      <div class="container container-wrapper">
        <div class="title-head">
          <h2 class="h2">パスワード再設定</h2>
        </div>
        <div class="content">
          <div class="inner-content">
            <form action="" class="form c-form-block">
              <div class="text-area">
                <p>
                  <span>ご利用中のメールアドレスを入力してください。</span>
                  <span>パスワード再設定のメールをお送りします。</span>
                </p>
              </div>
              <!-- 氏名 start-->
              <div class="form_area">
                <div class="label_area">
                  <label class="label_txt mb_8">メールアドレス</label>
                </div>
                <div class="form_group">
                  <div class="input_group">
                    <input name="email" type="text" class="form-control" placeholder="例）sample@sample.com">
                  </div>
                </div>
              </div>
              <div class="pass-reset-button">
                <button type="submit" class="btn btn-green">再設定メールを送信</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <%- include('./shared/_footer.ejs', { title: '' }) %>
    <%- include('./shared/_foot_js.ejs', { title: '' }) %>
  </div>
  </body>
  
</html>